<div class="d-flex flex-column  align-items-center mt-2 ">
  <h1>Cash register</h1>
  <hr style="border-top: 1px solid black; width: 100%;">
</div>

<div class="d-flex flex-column  align-items-center">

  <label for="productSelect" class="form-label">Choose product:</label>
  <select class="form-select mb-4" id="productSelect" style="width: 50%;">
    <option *ngFor="let product of products" [value]="product.id">
      {{ product.name }}
    </option>
  </select>

      <label for="exampleSelect" class="form-label">Choose amount:</label>
      <select class="form-select shadow-sm rounded-pill" id="amountSelect" style="width: 25%;">
       <!--++nums++-->
        <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
       <!--++++++++-->
    </select>

    <button class="btn btn-primary btn-lg rounded-pill shadow-sm px-4 mt-5" (click)="addToTable()">Here</button>
    <hr style="border-top: 1px solid black; width: 100%;">
</div>


<!--  ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++PRODUCT PART++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++  -->
<div class="d-flex flex-column align-items-center">
  <h1>Products</h1>

  <table class="table table-bordered mt-4" style="width: 75%;">
    <thead class="table-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tableItems; let i = index">
        <td>{{ item.name }}</td>
        <td>{{ item.price}}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

